@model ScrumMovieTheater.Models.UpdateMovieViewModel
<h2>Edit Movie</h2>

<form asp-area="Admin" asp-controller="Movie" asp-action="EditMovie" method="post">

    <input type="hidden" asp-for="MovieId" />
    <div class="form-group">
        <label>Select Showtime</label>

        <select asp-for="ShowtimeId"
                class="form-control"
                asp-items="ViewBag.Showtimes"
                onchange="changeShowtime(this)">
        </select>
    </div>

    <div>
        <label>Title</label>
        <input asp-for="Title" class="form-control" />
    </div>

    <div>
        <label>Description</label>
        <textarea asp-for="Description" class="form-control"></textarea>
    </div>

    <div>
        <label>Genre</label>
        <input asp-for="Genre" class="form-control" />
    </div>

    <div>
        <label>Runtime (minutes)</label>
        <input asp-for="RuntimeMinutes" class="form-control" />
    </div>
    
    <div>
        <label>Rating</label>
        <select asp-for="Rating" class="form-control" />
            <option value="G">G</option>
            <option value="PG">PG</option>
            <option value="PG-13">PG-13</option>
            <option value="R">R</option>
       </select>
    </div>
    

    <div>
        <label>Release Date</label>
        <input asp-for="ReleaseDate" type="date" class="form-control" />
    </div>

    <div>
        <label>Image URL</label>
        <input asp-for="ImageUrl" class="form-control" />
    </div>

    <div class="form-group">
    <h3 class="mt-4">Update Showtime</h3>
    <hr />
        <label asp-for="TheaterId"></label>
        <select asp-for="TheaterId" class="form-control" asp-items="ViewBag.Theaters">
        <option value="">-- Select Theater --</option>
        </select>
    </div>

    <div class="form-group">
        <label asp-for="AuditoriumId"></label>
        <select asp-for="AuditoriumId" class="form-control" asp-items="ViewBag.Auditoriums">
        <option value="">-- Select Auditorium --</option>
        </select>
    </div>

    <div class="form-group">
        <label asp-for="ShowDate"></label>
        <input asp-for="ShowDate" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="TimeSlot"></label>
        <input asp-for="TimeSlot" class="form-control" />
    </div>

    <div class="form-group">
       <label asp-for="Price"></label>
       <input asp-for="Price" class="form-control" />
    </div>

    <button type="submit" class="btn btn-success mt-2">
        Update Movie
    </button>

</form>

<script>
    function changeShowtime(select) {

        var movieId = document.getElementById("MovieId").value;
        var showtimeId = select.value;

        window.location.href =
            '/Admin/Movie/EditMovie?movieId=' + movieId +
            '&showtimeId=' + showtimeId;
    }
</script>